@import  "color";

footer{
    background-color:$first;
    height: 100px;
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 4fr 1fr;
    color: $dark;

   >div{
    display: flex;
    flex-direction: column;
    justify-content: center;

    > h1{
  font: 700 2rem $text1;
  text-transform: uppercase;
  color: $third;
    }
    >p{
        font: 500 1.2rem $text1;
    }
        >h5{
            color: rgb(46, 51, 63);
            font:500 2rem $text1 ;
            text-align: center;

        }
        >div{
            text-align: center;
            display: flex;
            flex-direction: column;
        }
    }
   } 
